{% extends "root.html" %}

{% block title %}
    {% if paste.is_some() %}
        {{ title }} — 
    {% endif %}
    Pasties
{% endblock %}

{% block container %}
    <div class="editor-container">
        <nav>
            <div>
                <a href="#">edit</a>
                <a href="#">preview</a>
            </div>
            <div>
                <a href="#">publish</a>
            </div>
        </nav>
        <section>
            {% if paste.is_some() %}
                {% let p = paste.clone().unwrap() %}
                {{ p.content }}
            {% endif %}
        </section>
    </div>
{% endblock %}