{% extends "root.html" %}

{% block title %}
    {% if paste.is_some() %}
        {{ title }} — 
    {% endif %}
    Pasties
{% endblock %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap">
{% endblock %}

{% block container %}
    <div class="editor-container">
        <nav>
            <div>
                <a href="#">edit</a>
                <a href="#">preview</a>
            </div>
            <div>
                <a href="#">publish</a>
            </div>
        </nav>
        <section>
            <textarea name="editor" id="editor">{% if paste.is_some() %}{% let p = paste.clone().unwrap() %}{{ p.content }}{% endif %}</textarea>
            <div id="preview">

            </div>
        </section>
    </div>
{% endblock %}