{% extends "root.html" %}

{% block title %}
    {% if paste.is_some() %}
        {{ title }} — 
    {% endif %}
    Pasties
{% endblock %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
{% endblock %}

{% block container %}
    <div class="editor-container" x-data="{previewtab:  false}">
        <blockquote id="info-modal"></blockquote>
        <nav>
            <div>
                <a @click="previewtab=false" :class="previewtab ? '' : 'active'">edit</a>
                <a @click="previewtab=true" :class="previewtab ? 'active' : ''" hx-post="/api/render" hx-include="[name='content']" hx-target="#preview" hx-swap="innerHTML">preview</a>
            </div>
            <div>
                {% if paste.is_some() %}
                <a hx-put="/api" hx-trigger="click" hx-include="[name='url'], [name='content'], [name='password']" hx-target="#info-modal" hx-swap="innerHTML">publish</a>
                {% else %}
                <a hx-post="/api" hx-trigger="click" hx-include="[name='url'], [name='content'], [name='password']" hx-target="#info-modal" hx-swap="innerHTML">publish</a>
                {% endif %}
            </div>
        </nav>
        <article>
            <div id="preview" x-show="previewtab"></div>
            <textarea name="content" id="editor"  x-show="!previewtab">{% if paste.is_some() %}{% let p = paste.clone().unwrap() %}{{ p.content|safe }}{% endif %}</textarea>
        </article>
        <section class="paste-options">
            {% if paste.is_some() %}
            <input type="text" name="url" id="custom-url" value="{{ paste.as_ref().unwrap().url }}" class="disabled">
            <input type="text" name="password" id="password" placeholder="edit password">
            {% else %}
            <input type="text" name="url" id="custom-url" placeholder="custom url">
            <input type="text" name="password" id="password" placeholder="edit password">
            {% endif %}
        </section>
    </div>
    <script>
        document.body.addEventListener('htmx:beforeOnLoad', function (evt) {
            if (evt.detail.xhr.status === 400 | 
                evt.detail.xhr.status === 401 |
                evt.detail.xhr.status === 500) {
                evt.detail.shouldSwap = true;
                evt.detail.isError = true;
            }
        });
    </script>
{% endblock %}