{% extends "root.html" %}

{% block title %}
{{ title }} — Pasties
{% endblock %}

{% block container %}
    <div class="paste-container">
    {% if let Some(secret) = self.modal.secret %}
        <blockquote id="info-modal">
            <p>
                <b>Paste created!</b> Do not lose your edit password, as you won't be able to recover it later: <code>{{ secret }}</code>
            </p>
        </blockquote>
    {% endif %}
    {% if let Some(updated) = self.modal.updated %}
        {% if updated.is_empty() %}
        <blockquote id="info-modal">
            <b>Your paste was updated successfully!</b>
        </blockquote>
        {% else %}
        <blockquote id="info-modal">
            <p>
                <b>Your paste was updated successfully!</b> Do not lose your <b>new</b> edit password, as you won't be able to recover it later: <code>{{ updated }}</code>
            </p>
        </blockquote>
        {% endif %}
    {% endif %}
    {% if let Some(message) = self.modal.message %}
        <blockquote id="info-modal">
            {{ message }}
        </blockquote>
    {% endif %}
        <article>
            {{ paste.content|safe }} 
        </article>
        <section class="paste-options">
            <a href="/{{ paste.url }}/edit">Edit</a>
        </section>
    </div>
{% endblock %}